*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.orange{
    color: orange;
}
/* Header style */
.header-container{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    padding-top: 10px;
    margin-bottom: 100px;
}
.half-width{
   width: 50%; 
   padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.btn-primary{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    /* background-color: orangered; */
    padding: 10px 30px;
    border-radius: 10px;
    color: #ffff;
    font-weight: 700;
    
}
.description{
    margin-bottom: 20px;
}